
    <div class="bg-gradient-to-r from-green-400 to-blue-100 h-72 m-32">
<div class="font-bold text-center text-white pt-24 text-6xl font-serif ">Student Tool Box</div>
</div>
    <div>
      <div class="mt-36 md:mt-44 md:flex md:flex-row-reverse">
      
    
      <div class="m-14  md:flex ">
        <div class="basis-[60%]">
          <h1
            class="text-green-400 pb-6 text-center text-2xl font-bold md:text-left md:text-2xl lg:mt-14 xl:mt-32 "
          >
          Tool Box
          </h1>
          <p class="text-justify  ">
            Daily student life is extremely stressful for college students, especially if you prefer self studying. As students ourselves, we decided to take it upon us to make a website that would help us with some of the problems that we encounter during our life as students. If you struggle with self studying and decided that maybe it's a good idea to use technology to help with some of the problems that you too have faced. 
          </p>
        </div>
        <div class="basis-[65%] p-14">
          <img width="50"
            src="images/stock.jpg"
            alt="..."
            class="h-full w-full"
          />
        </div>
      </div>
    </div>

    <!-- CARDS -->
    <div class=" md:grid md:grid-cols-3 ">
      <!-- card 1 -->
      <div class="max-w-sm m-10 rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/img/card-top.jpg" alt="image" /> -->
        <div class="px-6 py-4">
          <a href="/courseyard"><div class="font-bold text-xl mb-2 text-green-400">Courseyard</div></a>
          <p class="text-gray-700 text-base">
            Courseyard helps you search and watch youtube videos right on the website without wasting time and getting distracted by recommendations and comments.
          </p>
        </div>
      </div>
      <!-- card 2 -->
      <div class="max-w-sm m-10 rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/img/card-top.jpg" alt="image" /> -->
        <div class="px-6 py-4">
          <a href="/timer"><div class="font-bold text-xl mb-2 text-green-400">Pomodoro timer</div></a>
          <p class="text-gray-700 text-base">
            It uses a timer to break work into intervals, typically 25 minutes in length, separated by short breaks.
          </p>
        </div>
      </div>
      <!-- card 3 -->
      <div class="max-w-sm m-10 rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/img/card-top.jpg" alt="image" /> -->
        <div class="px-6 py-4">
          <a href="/dictionary"><div class="font-bold text-xl mb-2 text-green-400">Dictionary</div></a>
          <p class="text-gray-700 text-base">
            A simple dictionary that can keep your vocabulary on check.
          </p>
        </div>
      </div>
      <!-- card 4 -->
      <div class="max-w-sm m-10 rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/img/card-top.jpg" alt="image" /> -->
        <div class="px-6 py-4">
          <a href="/notes"><div class="font-bold text-xl mb-2 text-green-400">Notes</div></a>
          <p class="text-gray-700 text-base">
            A note-taking app that lets you quickly create and store notes.
          </p>
        </div>
      </div>
      
      <!-- About us -->
    <div class="m-10 text-center md:mt-20  ">
      <h1 class="text-xl font-bold text-green-400">About the website</h1>
      <p class="flex pt-4 text-center">
        Our app provides a variety of different features and tools to help students with their work and keep things organized while also making tasks easier to handle, therefore making things easier for the students and giving them more time to focus on studies.
      </p>
    </div>
    
 
   </div>
   <div class="bg-green-400">
</div>
 </div>
  </body>
</html>
