
    <div class="bg-gradient-to-r from-green-400 to-blue-100 h-72 m-32">
<div class="font-bold text-center text-white pt-24 text-6xl font-serif ">Student Tool Box</div>
</div>
    <div>
      <div class="mt-36 md:mt-44 md:flex md:flex-row-reverse">
      
    
      <div class="m-14  md:flex ">
        <div class="basis-[60%]">
          <h1
            class="text-green-400 pb-6 text-center text-2xl font-bold md:text-left md:text-2xl lg:mt-14 xl:mt-32 "
          >
          Tool Box
          </h1>
          <p class="text-justify  ">
            Daily student life is extremely stressful for college students, especially if you prefer self studying. As students ourselves, we decided to take it upon us to make a website that would help us with some of the problems that we encounter during our life as students. If you struggle with self studying and decided that maybe it's a good idea to use technology to help with some of the problems that you too have faced. 
          </p>
        </div>
        <div class="basis-[65%] p-14">
          <img
            src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.quickmeme.com%2Fimg%2F58%2F58ca4176a56bec02384aee4e11c1a6882127dc878a9cca77c0cc6f936d36a552.jpg&f=1&nofb=1"
            alt="..."
            class="h-full w-full"
          />
        </div>
      </div>
    </div>

    <!-- CARDS -->
    <div class=" md:grid md:grid-cols-3 ">
      <!-- card 1 -->
      <div class="max-w-sm m-10 rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/img/card-top.jpg" alt="image" /> -->
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-green-400">Courseyard</div>
          <p class="text-gray-700 text-base">
            Ever tried to study on YouTube but ended up in a rabbithole of tons of different videos and getting lost in the recommended videos or reading the comments to see who else is as stressed as you for your last mintue exam studies? Well, courseyard can help with that! Search and watch youtube videos right on this website without ever having to go through all the distractions!
          </p>
        </div>
      </div>
      <!-- card 2 -->
      <div class="max-w-sm m-10 rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/img/card-top.jpg" alt="image" /> -->
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-green-400">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
      </div>
      <!-- card 3 -->
      <div class="max-w-sm m-10 rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/img/card-top.jpg" alt="image" /> -->
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-green-400">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
      </div>
      <!-- card 4 -->
       <div class="max-w-sm m-10 rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/img/card-top.jpg" alt="image" /> -->
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-green-400">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
      </div>
      <!-- card 5 -->
       <div class="max-w-sm m-10 rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/img/card-top.jpg" alt="image" /> -->
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-green-400">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
      </div>
      <!-- card 6 -->
       <div class="max-w-sm m-10 rounded overflow-hidden shadow-lg">
        <!-- <img class="w-full" src="/img/card-top.jpg" alt="image" /> -->
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2 text-green-400">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
      </div>

      <!-- About us -->
       <div class="m-10 text-center md:mt-20  ">
          <h1 class="text-xl font-bold text-green-400">About Us</h1>
          <p class="flex pt-4 text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
            arcu et pellentesque convallis ullamcorper elit. Eleifend
            scelerisque tempor sem euismod vestibulum nullam facilisi sed sed.
            Viverra arcu et pellentesque convallis ullamcorper elit.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Viverra arcu et
            pellentesque convallis ullamcorper elit. Eleifend scelerisque tempor
            sem euismod vestibulum nullam facilisi sed sed. Viverra arcu et
            pellentesque convallis ullamcorper elit.
          </p>
        </div>
       
 
   </div>
   <div class="bg-green-400">

 </div>
  </body>
</html>
