<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="utf-8"/>
	
	<link rel="stylesheet" type="text/css" href="stylesheets/courseyard/courseyard.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/courseyard/jquery.fancybox.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="javascript/courseyard/courseyard.js"></script>
	<script src="javascript/courseyard/jquery.fancybox.pack.js"></script>

	<script>
		$(document).ready(function(){
			$('.fancybox').fancybox();
		});
	</script>
</head>

<body>
	<div id="container">
		<header>
			<h1>Course<span>Yard</span></h1>
			<p>One step towards effective learning</p>
		</header>
		<section>
			<form id="search_form" name="search_form" onsubmit="return search()">
				<div class="fieldContainer">
					<input type="search" id="query" class="search-field" placeholder="Search YouTube...">
					<input type="submit" name="search-btn" id="search-btn" value="">
				</div>
			</form>

			<ul id="results"></ul>
			<div id="buttons"></div>
		</section>
		
	</div>
</body>
</html>